#search-container {
  display: flex;
  width: 100%;
  justify-content: center;
}

#search-container input {
  background-color: transparent;
  max-width: 400px;
  width: 100%;
  padding: 0.5em 0.3em;
  margin: 0;
  /* border-bottom: 2px solid #0a1b12; */
}

#search-container input:focus {
  border-bottom-color: #64ba8c;
}

#search-container button {
  padding: 1em 2em;
  margin-left: 1em;
  background-color: #64ba8c;
  color: #ffffff;
  border-radius: 5px;
}

.btn-add {
  background-color: #64ba8c;
  padding: 6px;
  gap: 6px;
  color: #ffffff;
  font-weight: 600;
}
