.title {
  width: -webkit-fill-available;
}

.title h2 {
  text-align: center;
}

.title button {
  float: right;
  background-color: #cbb636;
  padding: 6px;
  color: #ffffff;
  font-weight: 600;
}

#makeCSV {
  background-color: #cbb636;
  padding: 6px;
  color: #ffffff;
  font-weight: 600;
}

#search-container ~ #makeCSV {
  margin-left: auto;
}

#modalsolic {
  background-color: #d92d2d;
  padding: 10px;
  color: #ffffff;
  font-weight: 600;
  margin-left: 0;
}
